@font-face {
  font-family: "The Nautigal";
  src: url("../assets/fonts/nautigal/TheNautigal-Regular.woff2") format("woff2"),
    url("../assets/fonts/nautigal/TheNautigal-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "The Nautigal";
  src: url("../assets/fonts/nautigal/TheNautigal-Bold.woff2") format("woff2"),
    url("../assets/fonts/nautigal/TheNautigal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("../assets/fonts/corinthia/Corinthia-Regular.woff2") format("woff2"),
    url("../assets/fonts/corinthia/Corinthia-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Corinthia";
  src: url("../assets/fonts/corinthia/Corinthia-Bold.woff2") format("woff2"),
    url("../assets/fonts/corinthia/Corinthia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
