.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  &__slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  &__thumbnails {
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
  }

  &__left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  &__right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
