@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.carousel {
  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.5rem;
  }

  &__slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  &__slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__thumbnails {
    width: 14rem;
    height: 14rem;
    border-radius: 10px;

    @include tablet {
      width: 17rem;
      height: 17rem;
    }
  }

  &__project-links {
    width: 12rem;
    display: flex;
    justify-content: space-around;
  }

  &__nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }

  &__left-arrow {
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-right: 4rem;
    margin-top: 13rem;

    @include tablet {
      margin-top: 16rem;
    }
  }

  &__right-arrow {
    font-size: 3rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-left: 4rem;
    margin-top: 13rem;

    @include tablet {
      margin-top: 16rem;
    }
  }

  &__project-description {
    max-width: 30rem;
    font-size: 0.9rem;
    line-height: 1.4rem;

    @include tablet {
      font-size: 1.05rem;
      line-height: 1.8rem;
    }
  }

  &__indicator {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
  }

  &__nav {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 20px;
  }
}
