@use "./partials/mixins.scss" as *;
@use "./partials/variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #142a7f, #010a26);
  color: white;
  padding: 0 1rem;
  font-family: Montserrat;

  @include tablet {
    padding: 0 2rem;
  }
}
