*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #142a7f, #010a26);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Montserrat;
}
