@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.content {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
  }

  &__profile-pic {
    margin-bottom: 2rem;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
  }

  &__subhead {
    margin: 0;
    font-size: 1.5rem;
  }

  &__personal-statement {
    margin: 0;
    text-align: center;
    line-height: 1.4rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
  }

  &__highlight {
    font-weight: 700;
    color: #f0e0a2;
  }

  &__link-container {
    display: flex;
    width: 27rem;
    justify-content: space-around;
  }

  &__nav-icons {
    display: flex;
  }

  &__nav-link {
    text-decoration: none;
  }

  &__nav-icon {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }

  &__toggle-colour {
    color: green;
  }
}
