@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.content {
  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
  }

  &__profile-pic {
    margin-bottom: 2rem;
  }

  &__subhead {
    margin: 0;
  }

  &__personal-statement {
    margin: 0;
    text-align: center;
    line-height: 1.2rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
  }

  &__link-container {
    display: flex;
    width: 27rem;
    justify-content: space-around;
  }

  &__nav-icons {
    display: flex;
  }

  &__nav-link {
    text-decoration: none;
  }

  &__nav-icon {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
  }

  &__profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
  }

  &__box-area {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  &__boxes {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;

    &--1 {
      left: 86%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    &--2 {
      left: 12%;
      width: 30px;
      height: 30px;
      animation-delay: 1.5s;
      animation-duration: 10s;
    }

    &--3 {
      left: 70%;
      width: 100px;
      height: 100px;
      animation-delay: 5.5s;
      animation-duration: 10s;
    }

    &--4 {
      left: 42%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 15s;
    }

    &--5 {
      left: 65%;
      width: 40px;
      height: 40px;
      animation-delay: 0s;
    }

    &--6 {
      left: 15%;
      width: 110px;
      height: 110px;
      animation-delay: 3.5s;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1;
  }
}
