@use "../../partials/mixins.scss" as *;
@use "../../partials/variables.scss" as *;

.content {
  position: relative;
  height: 85vh;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      width: 64rem;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29rem;

    @include tablet {
      align-items: flex-start;
    }
  }

  &__profile-pic {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;

    @include tablet {
      margin-top: 0;
      width: 22rem;
      height: 22rem;
    }
  }

  &__subhead {
    margin: 0;
    font-size: 1.5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__personal-statement {
    margin: 0;
    text-align: center;
    line-height: 1.6rem;
    padding-top: 0.5rem;
    margin-bottom: 2rem;

    @include tablet {
      text-align: start;
      font-size: 1.2rem;
      line-height: 2.3rem;
    }
  }

  &__highlight {
    font-weight: 700;
    color: #f0e0a2;
  }

  &__link-container {
    display: flex;
    width: 27rem;
    justify-content: space-around;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__nav-icons {
    display: flex;
  }

  &__nav-link {
    text-decoration: none;
    width: 1.5rem;

    @include tablet {
      margin-right: 6rem;
    }
  }

  &__nav-icon {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;

    @include tablet {
      margin-right: 5rem;
    }
  }

  &__toggle {
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
}
